
   body {
    background-color: bisque;
}
#global{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#uno{
    font-size: large;
    color: aquamarine;
    background-color: rgb(146, 91, 23);
    width: 150px;
    border: 2px solid rgb(86, 188, 142);
}
#dos{
    font-size: large;
    color: aquamarine;
    background-color: rgb(36, 98, 42);
    width: 250px;
    border: 3px solid rgb(99, 86, 188);
}
#tres{
    font-size: large;
    color: aquamarine;
    background-color: rgb(75, 36, 98);
    width: 300px;
    border: 4px solid rgb(99, 86, 188);
}
#cuatro{
    font-size: large;
    color: aquamarine;
    background-color: rgb(98, 43, 36);
    width: 100px;
    border: 2px solid rgb(87, 84, 107);
}


.pink{
    color: rgb(141, 39, 56);
    text-decoration:wavy;
    position:relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    left: 40px;
    top: 20px;
    display: block;
}
#peu{
    color: rgb(141, 39, 56);
}
img {
    transition: width 1s, opacity 1s;
  }
  img:hover {
    width: 250px; opacity: 0.5;
  }



.aqua{
    color: rgb(67, 165, 133);
    text-decoration:overline;
    position: sticky;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: larger;
    left: 40px;
    top: 20px;
    display: block;
}
button:hover {
    color: white;
   
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  button:active {
    
    color: white;
    background-color: orange;
    font-family:'Franklin Gothic Medium';}
h1{
    font-family: sans-serif;
    color: blueviolet;
    text-align:center;
    font-size: x-large;
    text-decoration: underline;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    text-shadow:crimson;
    font-weight: bold;
    color: red;
    background-color: aqua;
    font-weight: 10cm;
    display: inline-block;
    font-size: xx-large;
}

li{
    font-size: medium;
    color:darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-size:larger;
    color:rgb(47, 72, 107);
    font-family:monospace;

}